.main{   
display: flex;
justify-content: flex-start;
padding: 10px 50px;
}

.heroTop {
   display: flex;
   justify-content: space-between;
   padding-bottom: 50px;
   position: relative;
   flex-wrap: wrap;
   gap: 30px;
}

.heroTop article{
   display: flex;
   gap: 30px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.hero-main {
   position: relative;
}

.hero-main .showcase{
   width: 630px;
   height: 400px;
   position: relative;
}


 .pingBtn{
   position: absolute;
   border: 1px solid white;
   background-color: white;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-main .preview1{
   width: 90px;
   height: 70px;
   position: absolute;
   bottom: 190px;
   left: 50px;
   
}


.hero-main .preview2{
   width: 90px;
   height: 70px;
   position: absolute;
   bottom: 190px;
   left: 150px;
}


.hero-main .preview3{
   width: 90px;
   height: 70px;
   position: absolute;
   bottom: 190px;
   left: 270px;
}

.sidebar {
   position: absolute;
   top: 60px;
   right: 60px;
   border: 1px solid black;    
}

.label{
   border: 3px solid white;
   position: absolute;
   top: 20px;
   left: 40px;
   display: flex;
   flex-direction: column;
   gap: 15px;
   background-color: white;
   padding: 40px 20px;
}

.hero-footer{
   display: flex;
   gap: 20px;
}


.giftCard {
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.giftCard:hover {
   background: rgb(246, 183, 66);
}


.giftCard img{
   width: 50px;
   background: transparent;
   
}












