.chair{
    position: relative;
}

.chair  .sofaImg{
    width: 340px;
    height: 200px;
}


.chair  .Bigcircle{
    border: 2px solid grey;
    width: 320px;
    position: absolute;
    bottom: -60px;
    height: 150px;
    background-color: white;
    transform: rotate3d(102, 1, 1, 80deg);
    border-radius: 90px;
}

.chair .Smallcircle{
    border: 2px solid grey;
    width: 200px;
    position: absolute;
    bottom: 30px;       
    height: 40px;
    border-radius: 90px;
    transform: rotate3d(102, 3, 1, 75deg);
}